{eq name="$Think.session.admin_role" value="超级管理员"}
<ul class="nav nav-pills nav-stacked">
  <li class="nav-header h3">系统管理</li>
  <li><a href="{:url('site/index')}"><span class="glyphicon glyphicon-cog">&nbsp;网站管理</span></a></li>
</ul>
{/eq}

<ul class="nav nav-pills nav-stacked">
  <li class="nav-header h3">用户管理</li>
  <li><a href="{:url('user/userList')}"><span class="glyphicon glyphicon-user">&nbsp;用户列表</span></a></li>
</ul>

<ul class="nav nav-pills nav-stacked">
  <li class="nav-header h3">文章管理</li>
  <li><a href="{:url('cate/cateList')}"><span class="glyphicon glyphicon-lock">&nbsp;分类管理</span></a></li>
  <li><a href="{:url('article/articleList')}"><span class="glyphicon glyphicon-list-alt">&nbsp;文章列表</span></a></li>
</ul>

<ul class="nav nav-pills nav-stacked">
  <li class="nav-header h3">订单管理</li>
  <li><a href="#"><span class="glyphicon glyphicon-cog">&nbsp;订单列表</span></a></li>
</ul>

<ul class="nav nav-pills nav-stacked">
  <li class="nav-header h3">车辆管理</li>
  <li><a href="#"><span class="glyphicon glyphicon-cog">&nbsp;车辆列表</span></a></li>
</ul>

<ul class="nav nav-pills nav-stacked">
  <li class="nav-header h3">司机管理</li>
  <li><a href="#"><span class="glyphicon glyphicon-cog">&nbsp;司机列表</span></a></li>
</ul>